:global {
  .portal {
    position: absolute;
    left: 0;
    top: 0;
    .relativeWrapper {
      position: relative;
      div {
        position: absolute;
        background: blueviolet;
      }
      .line12, .line43 {
        height: 3px;
      }
      .line24, .line31 {
        width: 3px;
      }
    }
  }
}
